# Blacklist everything
*
# Except for gitignore
!.gitignore
# Whitelist all directories
!*/

# Blacklist Unity Caches
Library/
obj/

# Whitelist the file you're interested in. 
!*.cs
!*.meta
!*.asset
!*.unitysetting
!*.json
!*.prefab
!*.unity